<h1> Wikis Index</h1>

 <div class="row">
   <div class="col-md-8">

     <div class="col-md-4">
       <%= link_to "Create New Wiki", new_wiki_path, class: 'btn btnsuccess' %>
     </div>
    <br>
    <h2>Private Wikis</h2>
    <strong>Private Wikis You Have Access To</strong>
    <%= render @private_wikis %>
    <h2>Your Wikis</h2>
    <%= render @user_wikis %>
    <h2>Public Wikis</h2>
    <%= render @public_wikis %>
   </div>

 </div>
