<h1>All Articles</h1>
<div class="row">
  <div class="col-md-8">
    <p>Test Article</p>
    <% @wikis.each do |wiki| %>
    <div class="media">
      <div class="media-body">
        <h4 class="media-heading">
          <p><%= link_to wiki.title, wiki %></p>
        </h4>
      </div>
    </div>
    <% end %>
      <div class ="col-md-4">
      <%= link_to "Create New Wiki", new_wiki_path, class: 'btn btn-success'%>
      </div>
  </div>
</div>
